(
 ;; Begin DSE 4.7.x transforms.
 "4.7.0" "dse-spark-env-sh-dse-4.7.0.edn"

 ;; add -Ddse.client.configuration.impl=com.datastax.bdp.transport.client.HadoopBasedClientConfiguration
 ;; to SPARK_EXECUTOR_OPTS and SPARK_DRIVER_OPTS
 "4.7.1" (transforms
          (update-template "dse-spark-env-sh-dse-4.7.1.template"))

 "4.7.2" :no-change
 "4.7.3" :no-change
 "4.7.4" :no-change
 "4.7.5" :no-change
 "4.7.6" :no-change
 "4.7.7" :no-change
 "4.7.8" :no-change
 "4.7.9" (transforms
          (update-template "dse-spark-env-sh-dse-4.7.9.template")
          (add-field :spark-hadoop-util
                     {:type "string"
                      :required true
                      :default_value "org.apache.hadoop.security.DseSparkHadoopUtil"}
                     :group "General"))
 ;; End DSE 4.7.x transforms.


 ;; Begin DSE 4.8.x transforms.
 "4.8.0" "dse-spark-env-sh-dse-4.8.0.edn"
 "4.8.1" :no-change
 "4.8.2" :no-change
 "4.8.3" :no-change
 "4.8.4" :no-change
 "4.8.5" :no-change
 "4.8.6" (transforms
          (delete-field :spark-daemon-memory)
          (update-template "dse-spark-env-sh-dse-4.8.6.template"))
 "4.8.7" (transforms
          (update-template "dse-spark-env-sh-dse-4.8.7.template"))
 "4.8.8" (transforms
          (update-template "dse-spark-env-sh-dse-4.8.8.template"))
 "4.8.9"  :no-change
 "4.8.10" (transforms
           (update-template "dse-spark-env-sh-dse-4.8.10.template"))
 "4.8.11" :no-change
 "4.8.12" (transforms
           (update-template "dse-spark-env-sh-dse-4.8.12.template"))
 "4.8.13" :no-change
 "4.8.14" (transforms
           (update-template "dse-spark-env-sh-dse-4.8.14.template"))
 "4.8.15" :no-change
 "4.8.16" :no-change
 ;; End DSE 4.8.x transforms.


 ;; Begin DSE 5.0.x transforms.
 "5.0.1" "dse-spark-env-sh-dse-5.0.1.edn"
 "5.0.2" :no-change
 "5.0.3" :no-change
 "5.0.4" :no-change
 "5.0.5" :no-change
 "5.0.6" (transforms
           (update-template "dse-spark-env-sh-dse-5.0.6.template"))
 "5.0.7" :no-change
 "5.0.8" :no-change
 "5.0.9" :no-change
 "5.0.10" :no-change
 "5.0.11" :no-change
 "5.0.12" :no-change
 "5.0.13" :no-change
 "5.0.14" :no-change
 "5.0.15" :no-change
 ;; End DSE 5.0.x transforms.

 ;; Begin DSE 5.1.x transforms.
 "5.1.0" "dse-spark-env-sh-dse-5.1.0.edn"
 "5.1.1" :no-change
 "5.1.2" (transforms
          (update-template "dse-spark-env-sh-dse-5.1.2.template"))
 "5.1.3" :no-change
 "5.1.4" :no-change
 "5.1.5" :no-change
 "5.1.6" :no-change
 "5.1.7" :no-change
 "5.1.8" :no-change
 "5.1.9" :no-change
 "5.1.10" :no-change
 "5.1.11" :no-change
 ;; End DSE 5.1.x transforms.


 ;; Begin DSE 6.0.0 transforms.
 "6.0.0" "dse-spark-env-sh-dse-6.0.0.edn"
 "6.0.1" :no-change
 "6.0.2" :no-change
 "6.0.3" (transforms
          (update-template "dse-spark-env-sh-dse-6.0.3.template"))
 "6.0.4" :no-change
 ;; End DSE 6.0.0 transforms.


  ;; Begin DSE 6.7.x transforms.
  "6.7.0" "dse-spark-env-sh-dse-6.7.0.edn"
  ;; End DSE 6.7.x transforms.
 )
