{:display-name "dse-spark-env.sh",
 :package-path "/etc/dse/spark/dse-spark-env.sh"
 :tarball-path "resources/spark/conf/dse-spark-env.sh"
 :workload-file-group "spark",
 :ui-visibility :editable,
 :valid-dse-versions [:all],
 :renderer
 {:renderer-type :template,
  :template "dse-spark-env-sh-dse-4.8.0.template"},
 :workload :spark,
 :properties
 {:spark-worker-ordinal-number
  {:type "int", :required true, :default_value 0},
  :max-heap-free-ratio
  {:type "int", :required true, :default_value 50},
  :min-heap-free-ratio
  {:type "int", :required true, :default_value 20},
  :spark-daemon-memory
  {:type "int", :required true, :default_value 256, :unit "Mb"}},
 :groupings
 [{:name "General",
   :list
   ["spark-worker-ordinal-number"
    "max-heap-free-ratio"
    "min-heap-free-ratio"
    "spark-daemon-memory"]}]}
