(
 ;; Begin DSE 5.1.x transforms.
 "5.1.0" "logback-xml-dse-5.1.0.edn"
 "5.1.3" (transforms
          (update-template "logback-xml-dse-5.1.3.template"))
 "5.1.4" (transforms
          (update-template "logback-xml-dse-5.1.4.template"))
 "5.1.10" (transforms
           (update-template "logback-xml-dse-5.1.10.template"))
 "5.1.20" (transforms
           (update-template "logback-xml-dse-5.1.20.template")
           (add-field :scan-period
                      {:type "int"
                       :default_value 60
                       :unit "seconds"}
                      :group "General"))
 ;; End DSE 5.1.x transforms.

 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "logback-xml-dse-6.0.0.edn"
 "6.0.1" (transforms
          (update-template "logback-xml-dse-6.0.1.template")
          (add-field :bdp-util-process-servicerunner
                     {:type "string"
                      :default_value "DEBUG"}
                     :group "General")
          (add-field :bdp-util-process-internalservicerunner
                     {:type "string"
                      :default_value "DEBUG"}
                     :group "General"))
 "6.0.13" (transforms
           (update-template "logback-xml-dse-6.0.13.template")
           (add-field :scan-period
                      {:type "int"
                       :default_value 60
                       :unit "seconds"}
                      :group "General"))
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "logback-xml-dse-6.7.0.edn"
 "6.7.10" (transforms
           (update-template "logback-xml-dse-6.7.10.template")
           (add-field :scan-period
                      {:type "int"
                       :default_value 60
                       :unit "seconds"}
                      :group "General"))
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "logback-xml-dse-6.8.0.edn"
 "6.8.2" (transforms
          ;; indexing logger removed
          (update-template "logback-xml-dse-6.8.2.template"))
 "6.8.4" (transforms
          (update-template "logback-xml-dse-6.8.4.template")
          (add-field :scan-period
                     {:type "int"
                      :default_value 60
                      :unit "seconds"}
                     :group "General"))
 ;; End DSE 6.8.x transforms.
 )
