{:display-name "logback.xml",
 :package-path "/etc/dse/cassandra/logback.xml",
 :tarball-path "resources/cassandra/logback.xml",
 :workload-file-group "cassandra",
 :ui-visibility :editable,
 :renderer
 {:renderer-type :template,
  :template "logback-xml-dse-6.8.0.template"},
 :properties
 {:lcm-manage--logback-xml
  {:type "boolean",
   :label "Manage logback.xml?"
   :default_value true},
  :systemlog-appender-level
  {:type "string", :default_value "INFO"
   :depends :lcm-manage--logback-xml},
  :debuglog-appender-min-index
  {:type "int", :default_value 1
   :depends :lcm-manage--logback-xml},
  :debuglog-appender-max-file-size
  {:type "int", :default_value 20, :unit "MB"
   :depends :lcm-manage--logback-xml},
  :systemlog-appender-max-index
  {:type "int", :default_value 20
   :depends :lcm-manage--logback-xml},
  :bdp-util-process-internalservicerunner
  {:type "string", :default_value "DEBUG"
   :depends :lcm-manage--logback-xml},
  :debuglog-appender-max-index
  {:type "int", :default_value 20
   :depends :lcm-manage--logback-xml},
  :root-log-level
  {:type "string", :default_value "INFO"
   :depends :lcm-manage--logback-xml},
  :systemlog-appender-min-index
  {:type "int", :default_value 1
   :depends :lcm-manage--logback-xml},
  :bdp-util-process-servicerunner
  {:type "string", :default_value "DEBUG"
   :depends :lcm-manage--logback-xml},
  :systemlog-appender-max-file-size
  {:type "int", :default_value 20, :unit "MB"
   :depends :lcm-manage--logback-xml},
  :loggers
  {:type "list",
   :depends :lcm-manage--logback-xml
   :value_type "dict",
   :order [:name
           :level]
   :fields
   {:name {:type "string"},
    :level {:type "string"}}
   :description "Set logging levels for specific logger names."}},
 :groupings
 [{:name "General",
   :list
   ["lcm-manage--logback-xml"
    "systemlog-appender-level"
    "systemlog-appender-min-index"
    "systemlog-appender-max-index"
    "systemlog-appender-max-file-size"
    "debuglog-appender-min-index"
    "debuglog-appender-max-index"
    "debuglog-appender-max-file-size"
    "root-log-level"
    "loggers"
    "bdp-util-process-servicerunner"
    "bdp-util-process-internalservicerunner"]}]}
