{:display-name "jvm8-server.options",
 :package-path "/etc/cassandra/jvm8-server.options",
 :workload-file-group "cassandra",
 :ui-visibility :editable,
 :renderer
 {:renderer-type :template,
  :template "jvm8-server-options-cassandra-4.0.0.template"},
 :properties
 {},
 :groupings
 []}
