(
 ;; Begin DSE 4.7.x transforms.
 "4.7.0" "cassandra-yaml-dse-4.7.0.edn"

 "4.7.1" (transforms
          (update-field :commitlog_sync_batch_window_in_ms
                        {:default_value 2}))

 "4.7.2" :no-change

 "4.7.3" (transforms
          (add-field :commitlog_segment_recycling
                     {:type "boolean"
                      :required true
                      :default_value false}
                     :group "Commit Log")
          (add-field :compaction_large_partition_warning_threshold_mb
                     {:type "int"
                      :required true
                      :default_value 100}
                     :group "Compactions"))

 "4.7.4" (transforms
          (update-field :streaming_socket_timeout_in_ms
                        {:default_value 3600000})
          (add-field :gc_warn_threshold_in_ms
                     {:type "int"
                      :default_value 1000}
                     :group "Memory Management"))

 "4.7.5" (transforms
          (add-field :client_encryption_options.optional
                     {:type "boolean"
                      :required true
                      :default_value false
                      :description "When 'optional' is selected, both encrypted and unencrypted connections over native transport are allowed. That is a necessary transition state to facilitate enabling client to node encryption on live clusters without inducing an outage for existing unencrypted clients. Typically, once existing clients are migrated to encrypted connections, 'optional' is unselected in order to enforce native transport encryption."})
          (update-field :client_encryption_options
                        {:order [:enabled
                                 :optional
                                 :keystore
                                 :keystore_password
                                 :require_client_auth
                                 :truststore
                                 :truststore_password
                                 :protocol
                                 :algorithm
                                 :store_type
                                 :cipher_suites]}))

 "4.7.6" :no-change

 "4.7.7" (transforms
          (update-field :inter_dc_stream_throughput_outbound_megabits_per_sec
                        {:type "int"
                         :default_value 200
                         :required false
                         :unit "mbps"}))

 "4.7.8" :no-change

 "4.7.9" (transforms
          (add-field :unlogged_batch_across_partitions_warn_threshold
                     {:type "int"
                      :default_value 10
                      :required true}
                     :group "Miscellaneous")
          (update-field :streaming_socket_timeout_in_ms
                        {:default_value 86400000}))
 ;; End DSE 4.7.x transforms.


 ;; Begin DSE 4.8.x transforms.
 "4.8.0" "cassandra-yaml-dse-4.8.0.edn"

 "4.8.1" :no-change

 "4.8.2" (transforms
          (add-field :client_encryption_options.optional
                     {:type "boolean"
                      :required true
                      :default_value false
                      :description "When 'optional' is selected, both encrypted and unencrypted connections over native transport are allowed. That is a necessary transition state to facilitate enabling client to node encryption on live clusters without inducing an outage for existing unencrypted clients. Typically, once existing clients are migrated to encrypted connections, 'optional' is unselected in order to enforce native transport encryption."})
          (update-field :client_encryption_options
                        {:order [:enabled
                                 :optional
                                 :keystore
                                 :keystore_password
                                 :require_client_auth
                                 :truststore
                                 :truststore_password
                                 :protocol
                                 :algorithm
                                 :store_type
                                 :cipher_suites]}))

 "4.8.3" :no-change

 "4.8.4" (transforms
          (update-field :inter_dc_stream_throughput_outbound_megabits_per_sec
                        {:type "int"
                         :default_value 200
                         :required false
                         :unit "mbps"}))

 "4.8.5" :no-change

 "4.8.6" :no-change

 "4.8.7" (transforms
          (add-field :unlogged_batch_across_partitions_warn_threshold
                     {:type "int"
                      :default_value 10
                      :required true
                      :unit "partitions"}
                     :group "Miscellaneous"))

 "4.8.8" (transforms
          (update-field :streaming_socket_timeout_in_ms
                        {:type "int"
                         :default_value 86400000
                         :required false
                         :unit "ms"}))
 "4.8.9" :no-change
 "4.8.10" :no-change
 "4.8.11" :no-change
 "4.8.12" :no-change
 "4.8.13" :no-change
 "4.8.14" :no-change
 "4.8.15" :no-change
 "4.8.16" :no-change
 ;; End DSE 4.8.x transforms.


 ;; Begin DSE 5.0.x transforms.
 "5.0.1" "cassandra-yaml-dse-5.0.1.edn"
 "5.0.2" (transforms
          (add-field :gc_log_threshold_in_ms
                     {:type "int"
                      :default_value 200
                      :required false
                      :unit "ms"}
                     :group "Garbage Collection"))

 "5.0.3" (transforms
          (add-field :otc_coalescing_strategy
                     {:type "string"
                      :required true
                      :options [{:label "FIXED" :value "FIXED"}
                                {:label "MOVINGAVERAGE" :value "MOVINGAVERAGE"}
                                {:label "TIMEHORIZON" :value "TIMEHORIZON"}
                                {:label "DISABLED" :value "DISABLED"}]
                      :default_value "DISABLED"}
                     :group "Miscellaneous"))
 "5.0.4" :no-change
 "5.0.5" :no-change
 "5.0.6" :no-change
 "5.0.7" (transforms
          (add-field :otc_coalescing_window_us
                     {:type "int"
                      :required false
                      :default_value 200
                      :unit "us"}
                     :group "Miscellaneous")
          (add-field :otc_coalescing_enough_coalesced_messages
                     {:type "int"
                      :required false
                      :default_value 8}
                     :group "Miscellaneous"))

 "5.0.8" (transforms
          (add-field :allocate_tokens_for_local_replication_factor
                     {:type "int"
                      :required false}
                     :group "General")
          (update-field :memtable_allocation_type
                        {:type "string"
                         :required true
                         :options
                         [{:label "heap_buffers", :value "heap_buffers"}]
                         :default_value "heap_buffers"}))

 "5.0.9" (transforms
          (add-field :otc_backlog_expiration_interval_ms
                     {:type "int"
                      :default_value 200
                      :required false}
                     :group "Miscellaneous"))

 "5.0.10" :no-change
 "5.0.11" :no-change
 "5.0.12" (transforms
           (add-field :cross_dc_rtt_in_ms
                      {:type "int"
                       :default_value 0
                       :required false
                       :unit "ms"}
                      :group "Timeouts")
           (add-field :seed_gossip_probability
                      {:type "float"
                       :default_value 1.0
                       :required false}
                      :group "Miscellaneous"))
 "5.0.13" :no-change
 "5.0.14" :no-change
 "5.0.15" :no-change
 ;; End DSE 5.0.x transforms.


 ;; Begin DSE 5.1.x transforms.
 "5.1.0" "cassandra-yaml-dse-5.1.0.edn"
 "5.1.1" (transforms
          (add-field :otc_backlog_expiration_interval_ms
                     {:type "int"
                      :default_value 200
                      :required false
                      :unit "ms"}
                     :group "Outbound TCP Connections"))
 "5.1.2" :no-change
 "5.1.3" :no-change
 "5.1.4" :no-change
 "5.1.5" :no-change
 "5.1.6" (transforms
          (add-field :aggregated_request_timeout_in_ms
                     {:type "int"
                      :default_value 120000
                      :required true
                      :unit "ms"}
                     :group "Timeouts")
          (add-field :cross_dc_rtt_in_ms
                     {:type "int"
                      :default_value 0
                      :required false
                      :unit "ms"}
                     :group "Timeouts")
          (add-field :seed_gossip_probability
                     {:type "float"
                      :default_value 1.0
                      :required false}
                     :group "Miscellaneous"))
 "5.1.7" :no-change
 "5.1.8" :no-change
 "5.1.9" :no-change
 "5.1.10" :no-change
 "5.1.11" :no-change
 "5.1.12" :no-change
 "5.1.13" :no-change
 "5.1.14" (tranforms
           (add-field :echo_attempts_before_reset
                      {:type "int"
                       :default_value 10
                       :required false}
                      :group  "Cluster Communication"))
 "5.1.15" :no-change
 "5.1.16" :no-change
 ;; End DSE 5.1.x transforms.


 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "cassandra-yaml-dse-6.0.0.edn"
 "6.0.1" (transforms
          (update-field
           :memtable_flush_writers
           {:type "int"
            :required false})
          (update-field
           :io_global_queue_depth
           {:type "int"
            :required false}))
 "6.0.2" :no-change
 "6.0.3" (transforms
          (delete-field :index_summary_capacity_in_mb)
          (delete-field :index_summary_resize_interval_in_minutes))
 "6.0.4" :no-change
 "6.0.5" (transforms
          (add-field :echo_attempts_before_reset
                     {:type "int"
                      :default_value 10
                      :required false}
                     :group  "Cluster Communication"))
 "6.0.6" :no-change
 "6.0.7" (transforms
          (add-field :direct_reads_size_in_mb
                     {:type "int", :required false}
                     :group "Memtable Settings")
          (add-field :pick_level_on_streaming
                     {:type "boolean" :required true :default_value false}
                     :group "Compactions"))
 "6.0.8" (transforms
          (add-field :leaks_detection_params
                     {:type "dict"
                      :required false
                      :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."
                      :order [:sampling_probability
                              :max_stacks_cache_size_mb
                              :num_access_records
                              :max_stack_depth]
                      :fields
                      {:sampling_probability
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stacks_cache_size_mb
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :num_access_records
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stack_depth
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}}}
                     :group "Miscellaneous"))
 "6.0.9" :no-change
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 ;; NOTE: memtable_heap_space_in_mb and memtable_offheap_space_in_mb are
 ;; deprecated and should not be added back. As of 9/12/2018
 ;; resources/cassandra/conf/cassandra.yaml has not been updated to include
 ;; this change, but DSP-17191 was opened to fix that. Once DSP-17191 is
 ;; resolved this comment can be removed.
 "6.7.0" "cassandra-yaml-dse-6.7.0.edn"
 "6.7.1" (transforms
          (add-field
           :echo_attempts_before_reset
           {:type "int", :default_value 10, :required false}
           :group "Cluster Communication"))
 "6.7.2" :no-change
 "6.7.3" (transforms
          (add-field :direct_reads_size_in_mb
                     {:type "int", :required false}
                     :group "Memtable Settings")
          (add-field :pick_level_on_streaming
                     {:type "boolean" :required true :default_value false}
                     :group "Compactions"))
 "6.7.4" (transforms
          (add-field :leaks_detection_params
                     {:type "dict"
                      :required false
                      :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."
                      :order [:sampling_probability
                              :max_stacks_cache_size_mb
                              :num_access_records
                              :max_stack_depth]
                      :fields
                      {:sampling_probability
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stacks_cache_size_mb
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :num_access_records
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stack_depth
                       {:type "int" :required false
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}}}
                     :group "Miscellaneous"))
 "6.7.5" :no-change
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "cassandra-yaml-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
 )


