(
 ;; Begin DSE 5.1.x transforms.
 "5.1.0" "cassandra-yaml-dse-5.1.0.edn"
 "5.1.1" (transforms
          (add-field :otc_backlog_expiration_interval_ms
                     {:type "int"
                      :unit "ms"}
                     :group "Outbound TCP Connections"))
 "5.1.6" (transforms
          (add-field :aggregated_request_timeout_in_ms
                     {:type "int"
                      :default_value 120000
                      :unit "ms"}
                     :group "Timeouts")
          (add-field :cross_dc_rtt_in_ms
                     {:type "int"
                      :unit "ms"}
                     :group "Timeouts")
          (add-field :seed_gossip_probability
                     {:type "float"}
                     :group "Miscellaneous"))
 "5.1.14" (tranforms
           (add-field :echo_attempts_before_reset
                      {:type "int"}
                      :group  "Cluster Communication"))
 "5.1.19" (transforms
           (add-field :snapshot_before_dropping_column
                      {:type "boolean"
                       :default_value false
                       :description "Whether or not to automatically take a snapshot before dropping columns."}
                      :group "Snapshots"))
 ;; End DSE 5.1.x transforms.

 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "cassandra-yaml-dse-6.0.0.edn"
 "6.0.1" (transforms
          (update-field
           :memtable_flush_writers
           {:type "int"})
          (update-field
           :io_global_queue_depth
           {:type "int"}))
 "6.0.3" (transforms
          (delete-field :index_summary_capacity_in_mb)
          (delete-field :index_summary_resize_interval_in_minutes))
 "6.0.5" (transforms
          (add-field :echo_attempts_before_reset
                     {:type "int"
                      :description "Example value: 10"}
                     :group  "Cluster Communication"))
 "6.0.7" (transforms
          (add-field :direct_reads_size_in_mb
                     {:type "int"}
                     :group "Memtable Settings")
          (add-field :pick_level_on_streaming
                     {:type "boolean" :default_value false}
                     :group "Compactions"))
 "6.0.8" (transforms
          (add-field :leaks_detection_params
                     {:type "dict"
                      :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."
                      :order [:sampling_probability
                              :max_stacks_cache_size_mb
                              :num_access_records
                              :max_stack_depth]
                      :fields
                      {:sampling_probability
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stacks_cache_size_mb
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :num_access_records
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stack_depth
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}}}
                     :group "Miscellaneous"))
 "6.0.13" (transforms
           (add-field :snapshot_before_dropping_column
                      {:type "boolean"
                       :default_value false
                       :description "Whether or not to automatically take a snapshot before dropping columns."}
                      :group "Snapshots"))
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 ;; NOTE: memtable_heap_space_in_mb and memtable_offheap_space_in_mb are
 ;; deprecated and should not be added back. As of 9/12/2018
 ;; resources/cassandra/conf/cassandra.yaml has not been updated to include
 ;; this change, but DSP-17191 was opened to fix that. Once DSP-17191 is
 ;; resolved this comment can be removed.
 "6.7.0" "cassandra-yaml-dse-6.7.0.edn"
 "6.7.1" (transforms
          (add-field
           :echo_attempts_before_reset
           {:type "int",
            :description "Example value: 10"}
           :group "Cluster Communication"))
 "6.7.3" (transforms
          (add-field :direct_reads_size_in_mb
                     {:type "int"}
                     :group "Memtable Settings")
          (add-field :pick_level_on_streaming
                     {:type "boolean" :default_value false}
                     :group "Compactions"))
 "6.7.4" (transforms
          (add-field :leaks_detection_params
                     {:type "dict"
                      :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."
                      :order [:sampling_probability
                              :max_stacks_cache_size_mb
                              :num_access_records
                              :max_stack_depth]
                      :fields
                      {:sampling_probability
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stacks_cache_size_mb
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :num_access_records
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}
                       :max_stack_depth
                       {:type "int"
                        :description "This parameter should not be used unless directed by a support engineer or consultant. See \"nodetool help leaksdetection\" for the documentation."}}}
                     :group "Miscellaneous"))
 "6.7.9" (transforms
          (add-field :snapshot_before_dropping_column
                     {:type "boolean"
                      :default_value false
                      :description "Whether or not to automatically take a snapshot before dropping columns."}
                     :group "Snapshots"))
 ;; End DSE 6.7.x transforms.

 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "cassandra-yaml-dse-6.8.0.edn"

 "6.8.2" (transforms
          (add-field :snapshot_before_dropping_column
                     {:type "boolean"
                      :default_value false
                      :description "Whether or not to automatically take a snapshot before dropping columns."}
                     :group "Snapshots")
          (add-field :guardrails.disk_usage_max_disk_size_in_gb
                     {:type "int"
                      :description "Allows configuring max disk size of data directories when calculating thresholds for disk_usage_percentage_warn_threshold and disk_usage_percentage_failure_threshold."}))
 ;; End DSE 6.8.x transforms.
 )


