(
 ;; Begin DSE 4.7.x transforms.
 "4.7.0" ()
 "4.7.1" ()
 "4.7.2" ()
 "4.7.3" ()
 "4.7.4" ()
 "4.7.5" ()
 "4.7.6" ()
 "4.7.7" ()
 "4.7.8" ()
 "4.7.9" ()
 ;; End DSE 4.7.x transforms.


 ;; Begin DSE 4.8.x transforms.
 "4.8.0" ()
 "4.8.1" ()
 "4.8.2" ()
 "4.8.3" ()
 "4.8.4" ()
 "4.8.5" ()
 "4.8.6" ()
 "4.8.7" ()
 "4.8.8" ()
 "4.8.9" ()
 "4.8.10" ()
 "4.8.11" ()
 "4.8.12" ()
 "4.8.13" ()
 "4.8.14" ()
 "4.8.15" ()
 "4.8.16" ()
 ;; End DSE 4.8.x transforms.


 ;; Begin DSE 5.0.x transforms.
 ;; "5.0.0" is not supported by LCM
 "5.0.1" ()
 "5.0.2" ()
 "5.0.3" ()
 "5.0.4" ()
 "5.0.5" ()
 "5.0.6" ()
 "5.0.7" ()
 "5.0.8" ()
 "5.0.9" ()
 "5.0.10" ()
 "5.0.11" ()
 "5.0.12" ()
 "5.0.13" ()
 "5.0.14" ()
 ;; End DSE 5.0.x transforms.


 ;; Begin DSE 5.1.x transforms.
 "5.1.0" "logback-sparkr-xml-dse-5.1.0.edn"
 "5.1.1" :no-change
 "5.1.2" :no-change
 "5.1.3" :no-change
 "5.1.4" :no-change
 "5.1.5" :no-change
 "5.1.6" :no-change
 "5.1.7" :no-change
 "5.1.8" :no-change
 "5.1.9" :no-change
 "5.1.10" :no-change
 ;; End DSE 5.1.x transforms.


 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "logback-sparkr-xml-dse-6.0.0.edn"
 "6.0.1" :no-change
 "6.0.2" :no-change
 ;; End DSE 6.0.x transforms.


  ;; Begin DSE 6.7.x transforms.
  "6.7.0" "logback-sparkr-xml-dse-6.7.0.edn"
  ;; End DSE 6.7.x transforms.
)
