{
 "openjdk" {
            ;; the nightmare that is java version numbers: http://openjdk.java.net/jeps/223#Launcher
            "centos" {["5.11.x" "5.10.x" "5.9.x" "5.8.x"]
                      {}

                      ["6.9.x" "6.8.x" "6.7.x" "6.5.x" "6.4.x" "6.3.x" "6.2.x" "6.1.x" "6.0.x"]
                      {"1.8" {:package-name "java-1.8.0-openjdk-headless"}}

                      ["7.5.x" "7.4.x" "7.3.x" "7.2.x" "7.1.x" "7.0.x"]
                      {"1.8" {:package-name "java-1.8.0-openjdk-headless"}}}


            "red hat enterprise" {["7.5.x" "7.4.x" "7.3.x" "7.2.x" "7.1.x" "7.0.x"]
                                  {"1.8" {:package-name "java-1.8.0-openjdk-headless"}}

                                  ["6.9.x" "6.8.x" "6.7.x" "6.5.x" "6.4.x" "6.3.x" "6.2.x" "6.1.x" "6.0.x"]
                                  {"1.8" {:package-name "java-1.8.0-openjdk-headless"}}

                                  ["5.11.x" "5.10.x" "5.9.x" "5.8.x"]
                                  {}}


            "amazon" {["2017.09" "2017.03" "2016.09"]
                      {"1.8" {:package-name "java-1.8.0-openjdk-headless"}}}


            "debian" {["9.x"]
                      {"1.8" {:package-name "java-1.8.0-openjdk-headless"}}

                      ["8.x" "7.1.x" "7.x" "6.x"]
                      {}}


            "ubuntu" {["16.04"]
                      {"1.8" {:package-name "openjdk-8-jre-headless"}}

                      ["14.04" "13.04" "12.04" "12.x" "11.x"]
                      {}}
            }
 }
