{:display-name "logback.xml",
 :package-path "/etc/cassandra/logback.xml",
 :workload-file-group "cassandra",
 :ui-visibility :editable,
 :renderer
 {:renderer-type :template,
  :template "logback-xml-cassandra-4.0.0.template"},
 :properties
 {},
 :groupings
 []}
