{:display-name "jvm-server.options",
 :package-path "/etc/dse/cassandra/jvm-server.options",
 :tarball-path "resources/cassandra/conf/jvm-server.options"
 :workload-file-group "cassandra",
 :ui-visibility :editable,
 ;; jvm.options is only valid for DSE 6.8.0 and greater
 :renderer
 {:renderer-type :template,
  :template "jvm-server-options-dse-6.8.0.template"},
 :properties
 {
  ;; The following options are not supported via jvm.options in LCM,
  ;; because there are other ways of setting the fields in the config profile.
  ;;
  ;; cassandra-yaml
  ;;   cassandra_native_transport_port
  ;;   cassandra_partitioner
  ;;   cassandra_ssl_storage_port
  ;;   cassandra_storage_port

  ;; Non-Template Iterable Options
  ;; These will be referenced by name in the template.

  :additional-jvm-opts
  {:type "list",
   :exclude-from-template-iterables true,
   :label "Additional JVM_OPTS",
   :value_type "string",
   :default_value []},

  :jmx-remote-ssl-opts
  {:type "list",
   :value_type "string",
   :exclude-from-template-iterables true,
   :label "Remote SSL Options",
   :depends :jmx-remote-ssl,
   :conditional [{:eq true}],
   :default_value
   ["-Djavax.net.ssl.keyStore=/path/to/keystore"
    "-Djavax.net.ssl.keyStoreType=<keystore-type>"
    "-Djavax.net.ssl.keyStorePassword=<keystore-password>"
    "-Djavax.net.ssl.trustStore=/path/to/truststore"
    "-Djavax.net.ssl.trustStoreType=<truststore-type>"
    "-Djavax.net.ssl.trustStorePassword=<truststore-password>"
    "-Dcom.sun.management.jmxremote.ssl.enabled.protocols=<enabled-protocols>"
    "-Dcom.sun.management.jmxremote.ssl.enabled.cipher.suites=<enabled-cipher-suites>"]},

  :jmx-remote-ssl
  {:type "boolean",
   :exclude-from-template-iterables true,
   :label "Enable SSL?",
   :default_value false,
   :depends :jmx-connection-type,
   :conditional
   [{:eq "remote-no-auth"}
    {:eq "remote-dse-unified-auth"}]},

  :jmx-remote-ssl-require-client-auth
  {:type "boolean",
   :exclude-from-template-iterables true,
   :label "Require Client Authentication?",
   :default_value false,
   :depends :jmx-remote-ssl,
   :conditional
   [{:eq true}]},

  :jmx-connection-type
  {:type "string",
   :label "JMX Connection Type",
   :exclude-from-template-iterables true,
   :options
   [{:label "Local JMX - No Authentication", :value "local-no-auth"}
    {:label "Remote JMX - No Authentication", :value "remote-no-auth"}
    {:label "Remote JMX - DSE Unified Authentication",
     :value "remote-dse-unified-auth"}],
   :default_value "local-no-auth",
   :description
   "Configures the manner in which JMX will be exposed by DSE. Using \"Remote JMX - No Authentication\" is not recommended as this option allows unauthenticated remote connections to DSE."},

  :jmx-port
  {:type "int",
   :exclude-from-template-iterables true,
   :label "JMX Port",
   :default_value 7199},

  :unlock-diagnostic-vm-options
  {:type "boolean",
   :label "Unlock diagnostic vm options",
   :static_constant "-XX:+UnlockDiagnosticVMOptions",
   :exclude-from-template-iterables true,
   :default_value true},

  ;; Template Iterable Options
  ;; These will be rendered in a for-loop in the template
  ;; instead of being individually referenced.

  :cassandra_available_processors
  {:type "int",
   :constant "-Dcassandra.available_processors",
   :label "Available CPU processors"},
  :cassandra_config_directory
  {:type "string",
   :constant "-Dcassandra.config",
   :label "Location of the cassandra.yaml file",
   :render-without-quotes true},
  :cassandra_initial_token
  {:type "string",
   :constant "-Dcassandra.initial_token",
   :label "Initial token for first start of node",
   :render-without-quotes true},
  :cassandra_join_ring
  {:type "boolean",
   :constant "-Dcassandra.join_ring",
   :label "Set to false to keep node from joining cluster",
   :default_value true},
  :cassandra_load_ring_state
  {:type "boolean",
   :constant "-Dcassandra.load_ring_state",
   :label "Set to false to clear gossip state on restart",
   :default_value true},
  :cassandra_metrics_reporter_config_file
  {:type "string",
   :constant "-Dcassandra.metricsReporterConfigFile",
   :label "Enable pluggable metrics reporter",
   :render-without-quotes true},
  :cassandra_replace_address
  {:type "string",
   :constant "-Dcassandra.replace_address",
   :label "Address of dead node to be replaced",
   :render-without-quotes true},
  :dse_consistent_replace
  {:type "string",
   :constant "-Ddse.consistent_replace",
   :label "Perform consistent replace",
   :render-without-quotes true},
  :dse_consistent_replace_parallelism
  {:type "string",
   :constant "-Ddse.consistent_replace.parallelism",
   :label "How many ranges will be repaired simultaneously during consistent replace",
   :render-without-quotes true},
  :dse_consistent_replace_retries
  {:type "string",
   :constant "-Ddse.consistent_replace.retries",
   :label "How many times a failed repair will be retried",
   :render-without-quotes true},
  :dse_consistent_replace_whitelist
  {:type "string",
   :constant "-Ddse.consistent_replace.whitelist",
   :label "Targeted keyspaces or tables for consistent replace",
   :render-without-quotes true},
  :cassandra_replay_list
  {:type "string",
   :constant "-Dcassandra.replayList",
   :label "Restore specific tables from archived commit log",
   :render-without-quotes true},
  :cassandra_ring_delay_ms
  {:type "int",
   :constant "-Dcassandra.ring_delay_ms",
   :label "Amount of time node waits before joining ring",
   :unit "ms"},
  :cassandra_triggers_dir
  {:type "string",
   :constant "-Dcassandra.triggers_dir",
   :label "Default location for the trigger JARs",
   :render-without-quotes true},
  :cassandra_write_survey
  {:type "boolean",
   :constant "-Dcassandra.write_survey",
   :label "For testing new compaction and compression strategies",
   :default_value false},
  :cassandra_disable_auth_caches_remote_configuration
  {:type "boolean",
   :constant "-Dcassandra.disable_auth_caches_remote_configuration",
   :label "Disable configuration via JMX of auth caches",
   :default_value false},
  :cassandra_force_default_indexing_page_size
  {:type "boolean",
   :constant "-Dcassandra.force_default_indexing_page_size",
   :label
   "Disable dynamic calculation of the page size used when indexing an entire partition (during initial index build/rebuild).",
   :default_value false},
  :cassandra_max_hint_ttl
  {:type "string",
   :constant "-Dcassandra.maxHintTTL",
   :label "Imposes an upper bound on hint lifetime below the normal min gc_grace_seconds",
   :render-without-quotes true},

  ;; General JVM Settings

  :enable_assertions
  {:type "boolean",
   :static_constant "-ea",
   :label "Enable assertions",
   :default_value true},
  :use_thread_priorities
  {:type "boolean",
   :static_constant "-XX:+UseThreadPriorities",
   :label "Enable thread priorities",
   :default_value true},
  :heap_dump_on_out_of_memory_error
  {:type "boolean",
   :static_constant "-XX:+HeapDumpOnOutOfMemoryError",
   :label "Enable heap-dump on Out-Of-Memory error",
   :default_value true},
  :per_thread_stack_size
  {:type "string",
   :constant "-Xss",
   :label "Per-thread stack size",
   :suppress-equal-sign true,
   :render-without-quotes true,
   :default_value "256k"},
  :string_table_size
  {:type "string",
   :constant "-XX:StringTableSize",
   :label "Larger interned string table, for gossip's benefit",
   :render-without-quotes true,
   :default_value "1000003"},
  :always_pre_touch
  {:type "boolean",
   :static_constant "-XX:+AlwaysPreTouch",
   :label "Ensure all memory is faulted and zeroed on startup",
   :default_value true},
  :use_tlb
  {:type "boolean",
   :static_constant "-XX:+UseTLAB",
   :label "Enable thread-local allocation blocks",
   :default_value true},
  :resize_tlb
  {:type "boolean",
   :static_constant "-XX:+ResizeTLAB",
   :label "Allow resizing of thread-local allocation blocks",
   :default_value true},
  :use_numa
  {:type "boolean",
   :static_constant "-XX:+UseNUMA",
   :default_value true},
  :perf_disable_shared_mem
  {:type "boolean",
   :static_constant "-XX:+PerfDisableSharedMem",
   :label "Disable hsperfdata mmap'ed file",
   :default_value true},
  :java_net_prefer_ipv4_stack
  {:type "boolean",
   :static_constant "-Djava.net.preferIPv4Stack=true",
   :label "Prefer binding to IPv4 network interfaces",
   :default_value true},
  :page-align-direct-memory
  {:type "boolean",
   :label "Align direct memory allocations",
   :static_constant "-Dsun.nio.PageAlignDirectMemory=true",
   :default_value true},
  :restrict-contended
  {:type "boolean",
   :label "Honor user code @Contended annotations",
   :static_constant "-XX:-RestrictContended",
   :default_value true},
  :guaranteed-safepoint-interval
  {:type "string",
   :constant "-XX:GuaranteedSafepointInterval",
   :label "Decrease frequency of guaranteed safepoints to avoid needless pauses",
   :render-without-quotes true,
   :default_value "300000"},
  :use-biased-locking
  {:type "boolean",
   :label "Disable biased locking to avoid biased lock revokation pauses",
   :static_constant "-XX:-UseBiasedLocking",
   :default_value true},

  ;; Debug/profiling options
  :debug-non-safepoints
  {:type "boolean",
   :static_constant "-XX:+DebugNonSafepoints",
   :default_value true},
  :preserve-frame-pointer
  {:type "boolean",
   :label "Preserve Frame Pointer",
   :static_constant "-XX:+PreserveFramePointer",
   :default_value true},
  :unlock_commercial_features
  {:type "boolean",
   :static_constant "-XX:+UnlockCommercialFeatures",
   :label "Unlock commercial features",
   :default_value false},
  :flight_recorder
  {:type "boolean",
   :static_constant "-XX:+FlightRecorder",
   :label "Enable flight recorder (Use in production is subject to Oracle licensing)",
   :default_value false},
  :agent_lib_jdwp
  {:type "boolean",
   :static_constant
   "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=1414",
   :label "Listen for JVM remote debuggers on port 1414",
   :default_value false},
  :log_compilation
  {:type "boolean",
   :label "Make Cassandra JVM log internal method compilation (developers only)",
   :static_constant "-XX:+LogCompilation",
   :default_value false},

  ;; Heap Settings

  :initial_heap_size
  {
   :description "The initial size of the heap when starting the JVM that runs DSE. May be specified in megabytes (ie: 2048m) or gigabytes (ie: 2g). It's recommended to set the initial_heap_size equal to the max_heap_size in order to prevent latency spikes caused by heap resizing."
   :suppress-equal-sign true,
   :constant "-Xms",
   :type "string",
   :label "Initial Heap Size",
   :render-without-quotes true},
  :max_heap_size
  {
   :description "The maximum size to which the heap will be allowed to grow for the JVM running DSE. May be specified in megabytes (ie: 2048m) or gigabytes (ie: 2g). It's recommended to set the initial_heap_size equal to the max_heap_size in order to prevent latency spikes caused by heap resizing."
   :suppress-equal-sign true,
   :constant "-Xmx",
   :type "string",
   :label "Max Heap Size",
   :render-without-quotes true},

  ;; NIO Settings

  :jdk_nio_maxcachedbuffersize
  {:type "int",
   :description
   "Limit maximum cached thread local direct buffer to 1MB to avoid native OOM. See https://bugs.openjdk.java.net/browse/JDK-8147468",
   :constant "-Djdk.nio.maxCachedBufferSize",
   :default_value 1048576},

  ;; EXPIRATION DATE OVERFLOW POLICY

  :cassandra_expiration_date_overflow_policy
  {:type "string",
   :constant "-Dcassandra.expiration_date_overflow_policy",
   :label "Expiration Data Overflow Policy",
   :description
   "Defines how to handle INSERT requests with TTL exceeding the maximum supported expiration date.",
   :options
   [{:label "REJECT", :value "REJECT"}
    {:label "CAP", :value "CAP"}
    {:label "CAP_NOWARN", :value "CAP_NOWARN"}]},

  ;; netty

  :io_netty_eventloop_maxpendingtasks
  {:type "int",
   :constant "-Dio.netty.eventLoop.maxPendingTasks",
   :label "Netty queue limit (per core).",
   :default_value 65536},

  ;; LCM includes these that are in cassandra-env.sh in upstream

  :crash_on_out_of_memory_error
  {:type "boolean",
   :static_constant "-XX:+CrashOnOutOfMemoryError",
   :depends :exit_on_out_of_memory_error,
   :conditional [{:eq false}],
   :label "Crash on out of memory error",
   :description "Should the JVM crash when it encounters an out of memory error in order to prevent potential data-corruption from executing on a JVM that fails to allocate memory reliably. This setting is mutually exclusive with ExitOnOutOfMemoryError in this file and with CrashOnOutOfMemoryError in cassandra-env.sh."
   :default_value false},
  :max_direct_memory
  {:type "string",
   :constant "-XX:MaxDirectMemorySize",
   :label "Max Direct Memory",
   :render-without-quotes true,
   :add-export false},
  :print_heap_histogram_on_out_of_memory_error
  {:type "boolean",
   :constant "-Dcassandra.printHeapHistogramOnOutOfMemoryError",
   :default_value false},
  :exit_on_out_of_memory_error
  {:type "boolean",
   :static_constant "-XX:+ExitOnOutOfMemoryError",
   :label "Exit on out of memory error",
   :description "Should the JVM exit when it encounters an out of memory error in order to prevent potential data-corruption from executing on a JVM that fails to allocate memory reliably. This setting is mutually exclusive with CrashOnOutOfMemoryError in this file and with CrashOnOutOfMemoryError in cassandra-env.sh."
   :default_value false}},
 :groupings
 [{:name "General JVM Parameters",
   :list
   ["enable_assertions"
    "use_thread_priorities"
    "heap_dump_on_out_of_memory_error"
    "per_thread_stack_size"
    "string_table_size"
    "max_direct_memory"
    "always_pre_touch"
    "use_tlb"
    "resize_tlb"
    "use_numa"
    "perf_disable_shared_mem"
    "java_net_prefer_ipv4_stack"
    "print_heap_histogram_on_out_of_memory_error"
    "exit_on_out_of_memory_error"
    "crash_on_out_of_memory_error"
    "io_netty_eventloop_maxpendingtasks"
    "jdk_nio_maxcachedbuffersize"
    "guaranteed-safepoint-interval"
    "use-biased-locking"
    ]}
  {:name "Startup Parameters",
   :list
   ["cassandra_available_processors"
    "cassandra_config_directory"
    "cassandra_initial_token"
    "cassandra_join_ring"
    "cassandra_load_ring_state"
    "cassandra_metrics_reporter_config_file"
    "cassandra_replace_address"
    "cassandra_replay_list"
    "cassandra_ring_delay_ms"
    "cassandra_triggers_dir"
    "cassandra_write_survey"
    "cassandra_disable_auth_caches_remote_configuration"
    "cassandra_force_default_indexing_page_size"
    "cassandra_expiration_date_overflow_policy"
    "cassandra_max_hint_ttl"
    "dse_consistent_replace"
    "dse_consistent_replace_parallelism"
    "dse_consistent_replace_retries"
    "dse_consistent_replace_whitelist"
    ]}
  {:name "Debug Options",
   :list
   ["unlock_commercial_features"
    "flight_recorder"
    "agent_lib_jdwp"
    "page-align-direct-memory"
    "restrict-contended"
    "debug-non-safepoints"
    "unlock-diagnostic-vm-options"
    "log_compilation"
    "preserve-frame-pointer"]}
  {:name "Heap Settings",
   :list
   ["initial_heap_size"
    "max_heap_size"]}
  {:name "JMX",
   :list
   ["jmx-port"
    "jmx-connection-type"
    "jmx-remote-ssl"
    "jmx-remote-ssl-require-client-auth"
    "jmx-remote-ssl-opts"]}
  {:name "Advanced",
   :list ["additional-jvm-opts"]}]}
