;; Last updated on 5.0.0-eap5
;; https://github.com/riptano/bdp/tree/0393815a411d80034d9eb2c79e55960bba2e462d
{:display-name "logback-spark-server.xml"
 :package-path "/etc/dse/spark/logback-spark-server.xml"
 :tarball-path "resources/spark/conf/logback-spark-server.xml"
 :workload-file-group "spark"
 :ui-visibility :editable
 :valid-dse-versions [:all]
 :renderer
 {:renderer-type :template
  :template "logback-spark-server-xml-dse-6.0.0.template"}
 :workload :spark
 :properties
 {:max-file-size
  {:type "string" :required true :default_value "20" :render-without-quotes true}}
 :groupings
 [{:name "General",
   :list
   ["max-file-size"]}]}
