(
 ;; Begin DSE 6.0.x transforms.
 "6.0.0"  "logback-spark-server-xml-dse-6.0.0.edn"
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "logback-spark-server-xml-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
 )
