(
 ;; Begin DSE 5.1.x transforms.
 "5.1.0" ()
 ;; End DSE 5.1.x transforms.

 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "spark-alwayson-sql-conf-dse-6.0.0.edn"
 ;; just removes a defunct comment
 "6.0.1" (transforms
           (update-template "spark-alwayson-sql-conf-dse-6.0.1.template"))
 ;; adds spark.executor.memory config option explicitly with a default value
 "6.0.2" (transforms
           (update-template "spark-alwayson-sql-conf-dse-6.0.2.template")
           (add-field :spark_executor_memory
                      {:type "string"
                       :default_value "1G"}
                      :group "Spark Config Settings"
                      :after :spark_task_maxFailures))
 "6.0.5" (transforms
          (update-template "spark-alwayson-sql-conf-dse-6.0.5.template")
          (add-field :spark_sql_thriftServer_incrementalCollect
                     {:type "boolean"
                      :default_value true}
                     :group "Spark Config Settings"
                     :after :spark_sql_hive_metastore_barrierPrefixes))
 "6.0.16" (transforms
           (update-template "spark-alwayson-sql-conf-dse-6.0.16.template")
           (add-field :spark_alwaysOnSql_resolveAddress_enabled
                      {:type "boolean"
                       :default_value true}
                      :group "Spark Config Settings"
                      :after :spark_executor_memory))
 
 ;; End DSE 6.0.x transforms.

 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "spark-alwayson-sql-conf-dse-6.7.0.edn"
 "6.7.6" (transforms
          (update-field :spark_redaction_regex
                        {:default_value "(?i)credentials|secret|password|token"}))
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "spark-alwayson-sql-conf-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
)
