(
 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "spark-defaults-conf-dse-6.0.0.edn"
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "spark-defaults-conf-dse-6.7.0.edn"
 
 "6.7.6" (transforms
          (update-field :spark-redaction-regex
                        {:default_value "(?i)credentials|secret|password|token"}))
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "spark-defaults-conf-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
 )
