{:display-name "spark-defaults.conf",
 :package-path "/etc/dse/spark/spark-defaults.conf"
 :tarball-path "resources/spark/conf/spark-defaults.conf"
 :workload-file-group "spark",
 :ui-visibility :editable,
 :valid-dse-versions [:all],
 :renderer
 {:renderer-type :template,
  :template "spark-defaults-conf-dse-4.8.0.template"},
 :workload :spark,
 :properties
 {:spark-cassandra-auth-conf-factory
  {:type "string",
   :required true,
   :default_value "com.datastax.bdp.spark.DseAuthConfFactory"},
  :spark-ssl-enabled
  {:type "boolean", :required true, :default_value false},
  :spark-ssl-keyPassword
  {:type "string",
   :password true,
   :required true,
   :default_value "cassandra"},
  :spark-ssl-enabledAlgorithms
  {:type "list",
   :value_type "string",
   :required true,
   :default_value
   ["TLS_RSA_WITH_AES_128_CBC_SHA" "TLS_RSA_WITH_AES_256_CBC_SHA"]},
  :spark-ssl-trustStore
  {:type "string", :required true, :default_value ".truststore"},
  :spark-ssl-trustStorePassword
  {:type "string",
   :password true,
   :validators [{:name :length :params {:min 6}}],
   :required true,
   :default_value "cassandra"},
  :spark-ssl-protocol
  {:type "string", :required true, :default_value "TLS"},
  :spark-ssl-keyStore
  {:type "string", :required true, :default_value ".keystore"},
  :spark-extraListeners
  {:type "string",
   :required true,
   :default_value "com.datastax.bdp.spark.reporting.DseSparkListener"},
  :spark-ssl-useNodeLocalConf
  {:type "boolean", :required true, :default_value true},
  :spark-ssl-keyStorePassword
  {:type "string",
   :password true,
   :validators [{:name :length :params {:min 6}}],
   :required true,
   :default_value "cassandra"},
  :spark-cassandra-connection-factory
  {:type "string",
   :required true,
   :default_value
   "com.datastax.bdp.spark.DseCassandraConnectionFactory"}},
 :groupings
 [{:name "DSE Related Settings",
   :list
   ["spark-cassandra-connection-factory"
    "spark-cassandra-auth-conf-factory"
    "spark-extraListeners"]}
  {:name "SSL Settings",
   :list
   ["spark-ssl-enabled"
    "spark-ssl-keyStore"
    "spark-ssl-keyStorePassword"
    "spark-ssl-keyPassword"
    "spark-ssl-trustStore"
    "spark-ssl-trustStorePassword"
    "spark-ssl-protocol"
    "spark-ssl-enabledAlgorithms"
    "spark-ssl-useNodeLocalConf"]}]}
