(
 ;; Begin DSE 4.8.x transforms.
 "4.8.0" "logback-spark-executor-xml-dse-4.8.0.edn"
 "4.8.1"  :no-change
 "4.8.2"  :no-change
 "4.8.3"  :no-change
 "4.8.4"  :no-change
 "4.8.5"  (transforms
           (update-template "logback-spark-executor-xml-dse-4.8.5.template"))
 "4.8.6"  :no-change
 "4.8.7"  :no-change
 "4.8.8"  :no-change
 "4.8.9"  :no-change
 "4.8.10" :no-change
 "4.8.11" :no-change
 "4.8.12" :no-change
 "4.8.13" :no-change
 "4.8.14" :no-change
 "4.8.15" :no-change
 "4.8.16" :no-change
 ;; End DSE 4.8.x transforms.


 ;; Begin DSE 5.0.x transforms.
 "5.0.1" (transforms
          (update-template "logback-spark-executor-xml-dse-5.0.1.template"))
 "5.0.2" :no-change
 "5.0.3" :no-change
 "5.0.4" :no-change
 "5.0.5" :no-change
 "5.0.6" :no-change
 "5.0.7" :no-change
 "5.0.8" :no-change
 "5.0.9" :no-change
 "5.0.10" :no-change
 "5.0.11" :no-change
 "5.0.12" :no-change
 "5.0.13" :no-change
 "5.0.14" :no-change
 "5.0.15" :no-change
 ;; End DSE 5.0.x transforms.


 ;; Begin DSE 5.1.x transforms.
 "5.1.0" :no-change
 "5.1.1" :no-change
 "5.1.2" :no-change
 "5.1.3" :no-change
 "5.1.4" :no-change
 "5.1.5" :no-change
 "5.1.6" :no-change
 "5.1.7" :no-change
 "5.1.8" :no-change
 "5.1.9" :no-change
 "5.1.10" :no-change
 "5.1.11" :no-change
 "5.1.12" :no-change
 "5.1.13" :no-change
 "5.1.14" :no-change
 "5.1.15" :no-change
 "5.1.16" :no-change
 ;; End DSE 5.1.x transforms.


 ;; Begin DSE 6.0.x transforms.
 "6.0.0" :no-change
 "6.0.1" :no-change
 "6.0.2" :no-change
 "6.0.3" :no-change
 "6.0.4" :no-change
 "6.0.5" :no-change
 "6.0.6" :no-change
 "6.0.7" :no-change
 "6.0.8" :no-change
 "6.0.9" :no-change
 "6.0.10" :no-change
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" :no-change
 "6.7.1" :no-change
 "6.7.2" :no-change
 "6.7.3" :no-change
 "6.7.4" :no-change
 "6.7.5" :no-change
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "logback-spark-executor-xml-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
 )
