{:display-name "logback-spark-executor.xml"
 :package-path "/etc/dse/spark/logback-spark-executor.xml"
 :tarball-path "resources/spark/conf/logback-spark-executor.xml"
 :workload-file-group "spark"
 :ui-visibility :editable
 :renderer
 {:renderer-type :template
  :template "logback-spark-executor-xml-dse-6.0.3.template"}
 :workload :spark
 :properties
 {:root-level
  {:type "string" :default_value "INFO"}

  ;; logger-jetty-level should have been called org-eclipse-jetty,
  ;; but we are leaving the old name for backwards compatibility
  :logger-jetty-level
  {:type "string" :default_value "ERROR"}

  :com-datastax-driver-core-CodecRegistry
  {:type "string" :default_value "ERROR"}

  :org-apache-spark-util-logging-FileAppender
  {:type "string" :default_value "OFF"}
  :org-spark_project-jetty
  {:type "string" :default_value "WARN"}

  :org-spark_project-jetty-util-component-AbstractLifeCycle
  {:type "string" :default_value "ERROR"}
  :org-apache-spark-repl-SparkIMain-exprTyper
  {:type "string" :default_value "INFO"}
  :org-apache-spark-repl-SparkILoop-SparkILoopInterpreter
  {:type "string" :default_value "INFO"}

  :org-apache-parquet
  {:type "string" :default_value "ERROR"}
  :parquet
  {:type "string" :default_value "ERROR"}
  :org-apache-hadoop-hive-metastore-RetryingHMSHandler
  {:type "string" :default_value "FATAL"}

  :org-apache-hadoop-hive-ql-exec-FunctionRegistry
  {:type "string" :default_value "ERROR"}}
 :groupings
 [{:name "General",
   :list
   ["root-level"
    "logger-jetty-level"
    "com-datastax-driver-core-CodecRegistry"
    "org-apache-spark-util-logging-FileAppender"
    "org-spark_project-jetty"
    "org-spark_project-jetty-util-component-AbstractLifeCycle"
    "org-apache-spark-repl-SparkIMain-exprTyper"
    "org-apache-spark-repl-SparkILoop-SparkILoopInterpreter"
    "org-apache-parquet"
    "parquet"
    "org-apache-hadoop-hive-metastore-RetryingHMSHandler"
    "org-apache-hadoop-hive-ql-exec-FunctionRegistry"]}]}
