(
 ;; Note: this file is not exposed via the definitions routes, since we do not
 ;; want it exposed along side the config file definitions in the profile editor.
 ;; It will be exposed via the /platforms/* route(s)

 ;; Top-level key is the DSE version.
 ;; The format of the platform version maps is:
 ;; {"distribution name" ["5.2" "5.3.x" ...]}
 ;;
 ;; In practice, these will be used to match the output of the Python
 ;; 'platform' module's linux_distribution() function. The distribution
 ;; name will be matched at the start of the string and will be case
 ;; insensitive.
 ;;
 ;; Example: "red hat enterprise" will match "Red Hat Enterprise Linux"
 ;;
 ;; The version numbers will be matched exactly, or if it ends with '.x', it
 ;; will match that version specifically or any patch release version.
 ;;
 ;; Examples: "6.1.x" will match "6.1" and "6.1.5"
 ;;           "6.1" will only match "6.1", and will not match "6.1.5"
 ;;
 ;; Note that this file documents many platform support idiosyncrasies. For
 ;; example, supporting CentOS 6.5.x and 6.7.x, but not 6.6.x. Similarly the
 ;; same version of Red Hat or CentOS may be supported on one platform but not
 ;; another. In almost all cases, these idiosyncrasies do not represent a
 ;; technical known issue, but represent platform certification work that was
 ;; done or not done. In general, this file tracks certified platforms which
 ;; is a higher standard than "no known technical issues". The platform list
 ;; we track is available at:
 ;; https://docs.datastax.com/en/landing_page/doc/landing_page/supportedPlatforms.html#supportedPlatforms__dse-supported-platforms

 "5.1.0" {"debian" ["8.x" "9.x"]
          "ubuntu" ["12.04" "14.04" "16.04" "18.04"]
          "red hat enterprise" ["6.7.x" "6.8.x" "6.9.x" "6.10.x" "7.1.x" "7.2.x"
                                "7.3.x" "7.4.x" "7.5.x" "7.6.x" "7.7.x" "7.8.x"
                                "7.9.x"]
          "oracle" ["6.9.x" "7.4.x" "7.6.x"]
          "centos" ["6.7.x" "6.8.x" "6.9.x" "6.10.x" "7.1.x" "7.2.x" "7.3.x"
                    "7.4.x" "7.5.x" "7.6.x" "7.7.x" "7.8.x" "7.9.x"]
          "amazon" ["2016.09" "2017.03" "2017.09" "2018.09" "2"]}

 "6.0.0" {"debian" ["8.x" "9.x"]
          "ubuntu" ["12.04" "14.04" "16.04" "18.04"]
          "red hat enterprise" ["6.7.x" "6.8.x" "6.9.x" "6.10.x" "7.1.x" "7.2.x"
                                "7.3.x" "7.4.x" "7.5.x" "7.6.x" "7.7.x" "7.8.x"
                                "7.9.x"]
          "oracle" ["6.9.x" "7.4.x" "7.6.x"]
          "centos" ["6.7.x" "6.8.x" "6.9.x" "6.10.x" "7.1.x" "7.2.x" "7.3.x"
                    "7.4.x" "7.5.x" "7.6.x" "7.7.x" "7.8.x" "7.9.x"]
          "amazon" ["2016.09" "2017.03" "2017.09" "2018.09" "2"]}
 )
