{:display-name "cassandra-env.sh"
 :package-path "/etc/dse/cassandra/cassandra-env.sh"
 :tarball-path "resources/cassandra/conf/cassandra-env.sh"
 :workload-file-group "cassandra"
 :ui-visibility :editable
 :valid-dse-versions [:all]
 :renderer
 {:renderer-type :template
  :template "cassandra-env-sh-dse-4.7.0.template"}

 :properties
 {:max-heap-size
  {:type "string"
   :constant "MAX_HEAP_SIZE"
   :label "Max Heap Size"
   :required false
   :default_value "auto"
   :disabled true
   :description "The maximum size to which the heap will be allowed to grow for the JVM running DSE. May be specified in megabytes (ie: 2048m) or gigabytes (ie: 2g)."},

  ;; Removed in the transforms for 4.8.0 and demoted to being a cms-gc-opt
  ;; Setting heap-newsize for G1 disables many of it's adaptive self-tuning
  ;; capabilities and is not desirable
  :heap-newsize
  {:type "string"
   :constant "HEAP_NEWSIZE"
   :label "Heap New Size"
   :required false
   :default_value "auto"
   :disabled true}

  :malloc-arena-max
  {:type "int"
   :constant "MALLOC_ARENA_MAX"
   :label "Malloc Arena Max"
   :required false
   :default_value 4
   :disabled true
   :add-export true}

  :jmx-port
  {:type "int"
   :constant "JMX_PORT"
   :label "JMX Port"
   :required true
   :default_value 7199}

  :heap-dump-on-out-of-memory-error
  {:type "boolean"
   :label "Heap Dump on OutOfMemoryError?"
   :required true
   :default_value true}

  :cassandra-heapdump-dir
  {:type "string"
   :constant "CASSANDRA_HEAPDUMP_DIR"
   :label "Cassandra Heapdump Directory"
   :required false
   :default_value ""
   :disabled true
   :depends :heap-dump-on-out-of-memory-error
   :conditional true}

  :prefer-ipv4-stack
  {:type "boolean"
   :label "Prefer IPv4 Stack?"
   :required true
   :default_value true}

  :cms-gc-opts
  {:type "list"
   :label "CMS Options"
   :value_type "string"
   :required true
   :default_value ["-XX:+UseParNewGC"
                   "-XX:+UseConcMarkSweepGC"
                   "-XX:+CMSParallelRemarkEnabled"
                   "-XX:SurvivorRatio=8"
                   "-XX:MaxTenuringThreshold=1"
                   "-XX:CMSInitiatingOccupancyFraction=75"
                   "-XX:+UseCMSInitiatingOccupancyOnly"
                   "-XX:CMSWaitDuration=10000"
                   ;; Workaround for CASSANDRA-6541 in DSE 4.7.0-4.7.3
                   "-XX:+CMSClassUnloadingEnabled"]}

  :gc-logging
  {:type "boolean"
   :label "GC Logging?"
   :required true
   :default_value false}

  :gc-logging-opts
  {:type "list"
   :label "GC Logging Options"
   :value_type "string"
   :depends :gc-logging
   :conditional true
   :default_value ["-XX:+PrintGCDetails"
                   "-XX:+PrintGCDateStamps"
                   "-XX:+PrintHeapAtGC"
                   "-XX:+PrintTenuringDistribution"
                   "-XX:+PrintGCApplicationStoppedTime"
                   "-XX:+PrintPromotionFailure"
                   "-XX:PrintFLSStatistics=1"
                   "-Xloggc:/var/log/cassandra/gc.log"
                   "-XX:+UseGCLogFileRotation"
                   "-XX:NumberOfGCLogFiles=10"
                   "-XX:GCLogFileSize=10M"]}

  :local-jmx
  {:type "boolean"
   :label "Local JMX only?"
   :required true
   :default_value true}

  ;; Note the path for jmxremote.password was incorrect in the dse
  ;; versions of this file until dse-4.8.5.
  ;; We have the correct value here.
  :jmx-remote-opts
  {:type "list"
   :label "Remote JMX Options"
   :value_type "string"
   :depends :local-jmx
   :conditional false
   :default_value ["-Dcom.sun.management.jmxremote.port=$JMX_PORT"
                   "-Dcom.sun.management.jmxremote.rmi.port=$JMX_PORT"
                   "-Dcom.sun.management.jmxremote.ssl=false"
                   "-Dcom.sun.management.jmxremote.authenticate=true"
                   "-Dcom.sun.management.jmxremote.password.file=/etc/dse/cassandra/jmxremote.password"]}

  :additional-jvm-opts
  {:type "list"
   :label "Additional JVM_OPTS"
   :value_type "string"
   :default_value []}}

 :groupings
 [{:name "General",
   :list
   ["max-heap-size"
    "heap-newsize"
    "malloc-arena-max"
    "heap-dump-on-out-of-memory-error"
    "cassandra-heapdump-dir"
    "prefer-ipv4-stack"]}
  {:name "GC Tuning Options"
   :list ["cms-gc-opts"
          "gc-logging"
          "gc-logging-opts"]}
  {:name "JMX"
   :list ["jmx-port"
          "local-jmx"
          "jmx-remote-opts"]}
  {:name "Advanced"
   :list ["additional-jvm-opts"]}]}
