(
 ;; Begin DSE 6.0.0 transforms.
 "6.0.0" "dse-spark-env-sh-dse-6.0.0.edn"
 "6.0.3" (transforms
          (update-template "dse-spark-env-sh-dse-6.0.3.template"))
 ;; End DSE 6.0.0 transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "dse-spark-env-sh-dse-6.7.0.edn"
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 ;; End DSE 6.8.x transforms.
 )
