{:display-name "spark-daemon-defaults.conf"
 :package-path "/etc/dse/spark/spark-daemon-defaults.conf"
 :tarball-path "resources/spark/conf/spark-daemon-defaults.conf"
 :workload-file-group "spark"
 :ui-visibility :editable
 :renderer
 {:renderer-type :template
  :template "spark-daemon-defaults-conf-dse-5.1.0.template"}

 :properties
 {;; Shuffle Service ports
  :spark_dse_shuffle_sasl_port
  {:type "int"
   :label "DSE Shuffle SASL Port"
   :default_value 7447}

  :spark_dse_shuffle_no_sasl_port
  {:type "int"
   :label "DSE Shuffle No-SASL Port"
   :default_value 7437}

  :spark_ui_filters
  {:type "string"
   :label "Spark UI Filters"
   :default_value "com.datastax.bdp.auth.SparkUIAuthFilter"}}
 :groupings
 [{:name "Shuffle Service Ports"
   :list
   ["spark_dse_shuffle_sasl_port"
    "spark_dse_shuffle_no_sasl_port"]}
  {:name "Spark UI Parameters"
   :list
   ["spark_ui_filters"]}]}
