{:display-name "spark-daemon-defaults.conf",
 :package-path "/etc/dse/spark/spark-daemon-defaults.conf",
 :workload-file-group "spark",
 :ui-visibility :editable,
 :valid-dse-versions [:gte "5.1.0"],
 :renderer
 {:renderer-type :template,
  :template "spark-daemon-defaults-conf-dse-6.8.0.template"},
 :properties
 {:spark_dse_shuffle_sasl_port
  {:type "int",
   :label "DSE Shuffle SASL Port",
   :default_value 7447,
   :required true},
  :spark_dse_shuffle_no_sasl_port
  {:type "int",
   :label "DSE Shuffle No-SASL Port",
   :default_value 7437,
   :required true},
  :spark_ui_filters
  {:type "string",
   :label "Spark UI Filters",
   :default_value
   "com.datastax.bdp.auth.SparkUIAuthFilter,com.datastax.bdp.auth.SparkUIAuthzFilter",
   :required false},
  :spark_redaction_regex
  {:type "string",
   :label "Spark Redaction Regex",
   :default_value "(?i)credentials|secret|password|token",
   :required true},
  :spark_network_crypto_enabled
  {:type "boolean",
   :label "Enable Spark Network Cryptography",
   :default_value false,
   :required true},
  :spark_network_crypto_saslfallback
  {:type "boolean",
   :label "Spark Network Cryptography SASL Fallback",
   :default_value false,
   :required true}},
 :groupings
 [{:name "Shuffle Service Ports",
   :list
   ["spark_dse_shuffle_sasl_port" "spark_dse_shuffle_no_sasl_port"]}
  {:name "Spark UI Parameters", :list ["spark_ui_filters"]}
  {:name "General",
   :list
   ["spark_redaction_regex"
    "spark_network_crypto_enabled"
    "spark_network_crypto_saslfallback"]}]}
