(
 ;; Begin DSE 5.1.x transforms.
 "5.1.0" "spark-daemon-defaults-conf-dse-5.1.0.edn"
 ;; set spark.master.rest.enabled to false as the Spark Master REST API is not
 ;; supported by DSE
 "5.1.8" (transforms
          (update-template "spark-daemon-defaults-conf-dse-5.1.8.template"))
 ;; End DSE 5.1.x transforms.

 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "spark-daemon-defaults-conf-dse-6.0.0.edn"
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "spark-daemon-defaults-conf-dse-6.7.0.edn"
 "6.7.6" (transforms
          (update-field :spark_redaction_regex
                        {:default_value "(?i)credentials|secret|password|token"}))
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "spark-daemon-defaults-conf-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
)
