(
 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "dse-yaml-dse-6.0.0.edn"
 "6.0.1" (transforms
          (delete-field :alwayson_sql_options.jps_directory))
 "6.0.2" (transforms
          (update-field :node_health_options.uptime_ramp_up_period_seconds
                        {:default_value 10800})
          (add-field :dsefs_options.rest_options.internode_idle_connection_timeout_ms
                     {:type "int"
                      :required false
                      :unit "ms"})
          (add-field :dsefs_options.rest_options.core_max_concurrent_connections_per_host
                     {:type "int"
                      :required false}))
 "6.0.3" :no-change
 "6.0.4" :no-change
 "6.0.5" (transforms
          (add-field :dsefs_options.internode_authentication
                     {:type "dict"
                      :fields
                      {:enabled {:type "boolean"
                                 :required false
                                 :default_value true}
                       :algorithm {:type "string"
                                   :required false
                                   :default_value "HmacSHA256"}}
                      :order [:enabled :algorithm]})
          (add-group "Insightful Monitoring"
                     :after "DSE Authorizer Options")
          (add-field :insights_options
                     {:type "dict"
                      :fields
                      {:data_dir {:type "string"
                                  :required false
                                  :default_value "/var/lib/cassandra/insights_data"
                                  :description "Directory to store insights data"}
                       :log_dir {:type "string"
                                 :required false
                                 :default_value "/var/log/cassandra/"
                                 :description "Directory to store insights logs"}}
                      :order [:data_dir :log_dir]}
                     :group "Insightful Monitoring"))
 "6.0.6" :no-change
 "6.0.7" :no-change
 "6.0.8" :no-change
 "6.0.9" :no-change
 "6.0.10" :no-change
 "6.0.11" :no-change
 ;; End DSE 6.0.x transforms.

 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "dse-yaml-dse-6.7.0.edn"
 "6.7.1" (transforms
          (add-field :dsefs_options.internode_authentication
                     {:type "dict"
                      :depends :enabled
                      :order [:enabled :algorithm]
                      :fields {
                          :enabled {:type "boolean" :default_value true :required true}
                          :algorithm {:type "string"
                                      :depends :enabled
                                      :required true
                                      :default_value "HmacSHA256"}}})
          (update-field :dsefs_options
                        {:order [:enabled
                                 :keyspace_name
                                 :work_dir
                                 :public_port
                                 :private_port
                                 :data_directories
                                 :service_startup_timeout_ms
                                 :service_close_timeout_ms
                                 :internode_authentication
                                 :gossip_options
                                 :rest_options
                                 :transaction_options
                                 :block_allocator_options]}))
 "6.7.2" :no-change
 "6.7.3" (transforms
          (add-field :alwayson_sql_options.heartbeat_update_interval_seconds
                     {:type "int"
                      :depends :enabled
                      :default_value 30})
          (update-field :alwayson_sql_options
                        {:order [:enabled
                                 :thrift_port
                                 :web_ui_port
                                 :reserve_port_wait_time_ms
                                 :alwayson_sql_status_check_wait_time_ms
                                 :workpool
                                 :log_dsefs_dir
                                 :auth_user
                                 :runner_max_errors
                                 :heartbeat_update_interval_seconds]}))
 "6.7.4" :no-change
 "6.7.5" :no-change
 "6.7.6" :no-change
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "dse-yaml-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
 )
