{:display-name "10-write-prom.conf",
 :package-path "/usr/share/dse/collectd/etc/collectd/10-write-prom.conf",
 :workload-file-group "cassandra",
 :ui-visibility :editable,
 :renderer
 {:renderer-type :template,
  :template "10-write-prom-conf-dse-6.0.5.template"},
 :properties
 {
  ;; General Options

  :enabled
  {:type "boolean",
   :required true,
   :label
   "Enable Prometheus",
   :default_value false},

  :port
  {:type "int",
   :label "Port",
   :default_value "9103",
   :required true,
   :depends :enabled,
   :conditional [{:eq true}]}

  :staleness-delta
  {:type "int",
   :required false,
   :depends :enabled,
   :conditional [{:eq true}]}},
 :groupings
 [{:name "General Parameters",
   :list
   ["enabled",
    "port"
    "staleness-delta"]}]}
