(
 ;; Begin DSE 6.0.x transforms.
 "6.0.0" ()
 "6.0.5" "10-write-prom-conf-dse-6.0.5.edn"
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "10-write-prom-conf-dse-6.7.0.edn"
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 ;; End DSE 6.8.x transforms.
)
