(
 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "spark-env-sh-dse-6.0.0.edn"
 ; minor comment change
 "6.0.7" (transforms
           (update-template "spark-env-sh-dse-6.0.7.template"))
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "spark-env-sh-dse-6.7.0.edn"
 ; minor comment change
 "6.7.3" (transforms
           (update-template "spark-env-sh-dse-6.7.3.template"))
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 ;; End DSE 6.8.x transforms.
 )
