{:display-name "cassandra-rackdc.properties"
 :package-path "/etc/dse/cassandra/cassandra-rackdc.properties"
 :tarball-path "resources/cassandra/conf/cassandra-rackdc.properties"
 :workload-file-group "None"
 :ui-visibility :hidden
 :renderer
 {:renderer-type :template
  :template "cassandra-rackdc-properties-dse-5.1.0.template"}
 :properties
 {:dc {:type "string"},
  :rack {:type "string"}}
 :groupings
 [{:name "General",
   :list
   ["dc"
    "rack"]}]}
