{:display-name "cassandra-rackdc.properties"
 :package-path "/etc/dse/cassandra/cassandra-rackdc.properties"
 :tarball-path "resources/cassandra/conf/cassandra-rackdc.properties"
 :workload-file-group "None"
 :ui-visibility :hidden
 :valid-dse-versions [:all]
 :renderer
 {:renderer-type :template
  :template "cassandra-rackdc-properties-dse-6.0.0.template"}
 :properties
 {:dc {:type "string", :required false, :default_value "dc1"},
  :rack {:type "string", :required false, :default_value "rack1"}}
 :groupings
 [{:name "General",
   :list
   ["dc"
    "rack"]}]}
