{:display-name "cassandra-env.sh"
 :package-path "/etc/dse/cassandra/cassandra-env.sh"
 :tarball-path "resources/cassandra/conf/cassandra-env.sh"
 :workload-file-group "cassandra"
 :ui-visibility :editable
 :valid-dse-versions [:all]
 :renderer
 {:renderer-type :template
  :template "cassandra-env-sh-dse-6.0.0.template"}

 :properties
 {:malloc-arena-max
  {:type "int"
   :constant "MALLOC_ARENA_MAX"
   :label "Malloc Arena Max"
   :required false
   :default_value 4
   :disabled true
   :add-export true}

  :heap-dump-dir
  {:type "string"
   :constant "CASSANDRA_HEAPDUMP_DIR"
   :label "Cassandra Heapdump Directory"
   :required false
   :description "If this value is changed to a non-default directory, that directory must exist and be writeable by the cassandra user. LCM will not create it."
   :is_directory true
   :add-export true}

  :enable_on_out_of_memory_error
  {:type "boolean"
   :required true
   :default_value true
   :description "Should the 'OnOutOfMemoryError' option be supplied to the JVM when launching DSE in order to provide a command that will be used to stop the JVM on OutOfMemoryError. This is useful to prevent potential data-corruption from executing on a JVM that fails to allocate memory reliably. This setting is mutually exclusive with ExitOnOutOfMemoryError and CrashOnOutOfMemoryError in the jvm.options files."}

  :on_out_of_memory_error
  {:type "string"
   :depends :enable_on_out_of_memory_error
   :required true
   :default_value "kill -9 %p"
   :description "The command used to kill the JVM when memory allocation fails."}
  }

 :groupings
 [{:name "General",
   :list
   ["malloc-arena-max"
    "heap-dump-dir"
    "enable_on_out_of_memory_error"
    "on_out_of_memory_error"]}]}
