{:display-name "cassandra-env.sh",
 :package-path "/etc/dse/cassandra/cassandra-env.sh"
 :workload-file-group "cassandra",
 :ui-visibility :editable,
 :renderer
 {:renderer-type :template,
  :template "cassandra-env-sh-dse-4.8.0.template"},
 :properties
 {:additional-jvm-opts
  {:type "list",
   :label "Additional JVM_OPTS",
   :value_type "string",
   :default_value []},
  :gc-logging
  {:type "boolean",
   :label "GC Logging?",
   :required true,
   :default_value false},
  :max-heap-size
  {:type "string",
   :constant "MAX_HEAP_SIZE",
   :label "Max Heap Size",
   :required false,
   :default_value "auto",
   :disabled true,
   :description "The maximum size to which the heap will be allowed to grow for the JVM running DSE. May be specified in megabytes (ie: 2048m) or gigabytes (ie: 2g). It's recommended to set the initial_heap_size equal to the max_heap_size in order to prevent latency spikes caused by heap resizing."},
  :jmx-remote-ssl-opts
  {:type "list",
   :value_type "string",
   :label "Remote SSL Options",
   :depends :jmx-remote-ssl,
   :conditional [{:eq true}],
   :default_value
   ["-Dcom.sun.management.jmxremote.ssl=true"
    "-Djavax.net.ssl.keyStore=/path/to/keystore"
    "-Djavax.net.ssl.keyStorePassword=<keystore-password>"
    "-Djavax.net.ssl.trustStore=/path/to/truststore"
    "-Djavax.net.ssl.trustStorePassword=<truststore-password>"
    "-Dcom.sun.management.jmxremote.ssl.need.client.auth=true"
    "-Dcom.sun.management.jmxremote.registry.ssl=true"
    "-Dcom.sun.management.jmxremote.ssl.enabled.protocols=<enabled-protocols>"
    "-Dcom.sun.management.jmxremote.ssl.enabled.cipher.suites=<enabled-cipher-suites>"]},
  :jmx-remote-ssl
  {:type "boolean",
   :required true,
   :label "Enable SSL?",
   :default_value false,
   :depends :local-jmx,
   :conditional [{:eq false}]},
  :malloc-arena-max
  {:type "int",
   :constant "MALLOC_ARENA_MAX",
   :label "Malloc Arena Max",
   :required false,
   :default_value 4,
   :disabled true,
   :add-export true},
  :cms-gc-opts
  {:type "list",
   :label "CMS Options",
   :value_type "string",
   :required false,
   :default_value
   ["-Xmn800M"
    "-XX:+UseParNewGC"
    "-XX:+UseConcMarkSweepGC"
    "-XX:+CMSParallelRemarkEnabled"
    "-XX:SurvivorRatio=8"
    "-XX:MaxTenuringThreshold=1"
    "-XX:CMSInitiatingOccupancyFraction=75"
    "-XX:+UseCMSInitiatingOccupancyOnly"
    "-XX:CMSWaitDuration=10000"],
   :depends :garbage-collector,
   :conditional [{:eq "CMS"}]},
  :garbage-collector
  {:type "string",
   :label "Garbage Collector",
   :options
   [{:label "Concurrent Mark Sweep (CMS)", :value "CMS"}
    {:label "G1", :value "G1"}],
   :default_value "G1"},
  :jmx-remote-opts
  {:type "list",
   :label "Remote JMX Options",
   :value_type "string",
   :depends :local-jmx,
   :conditional [{:eq false}],
   :default_value
   ["-Dcom.sun.management.jmxremote.port=$JMX_PORT"
    "-Dcom.sun.management.jmxremote.rmi.port=$JMX_PORT"
    "-Dcom.sun.management.jmxremote.ssl=false"
    "-Dcom.sun.management.jmxremote.authenticate=true"
    "-Dcom.sun.management.jmxremote.password.file=/etc/dse/cassandra/jmxremote.password"]},
  :local-jmx
  {:type "boolean",
   :label "Local JMX only?",
   :required true,
   :default_value true},
  :prefer-ipv4-stack
  {:type "boolean",
   :label "Prefer IPv4 Stack?",
   :required true,
   :default_value true},
  :gc-logging-opts
  {:type "list",
   :label "GC Logging Options",
   :value_type "string",
   :depends :gc-logging,
   :conditional [{:eq true}],
   :default_value
   ["-XX:+PrintGCDetails"
    "-XX:+PrintGCDateStamps"
    "-XX:+PrintHeapAtGC"
    "-XX:+PrintTenuringDistribution"
    "-XX:+PrintGCApplicationStoppedTime"
    "-XX:+PrintPromotionFailure"
    "-XX:PrintFLSStatistics=1"
    "-Xloggc:/var/log/cassandra/gc.log"
    "-XX:+UseGCLogFileRotation"
    "-XX:NumberOfGCLogFiles=10"
    "-XX:GCLogFileSize=10M"]},
  :cassandra-heapdump-dir
  {:type "string",
   :constant "CASSANDRA_HEAPDUMP_DIR",
   :label "Cassandra Heapdump Directory",
   :required false,
   :default_value "",
   :disabled true,
   :depends :heap-dump-on-out-of-memory-error,
   :conditional [{:eq true}]},
  :jmx-port
  {:type "int",
   :constant "JMX_PORT",
   :label "JMX Port",
   :required true,
   :default_value 7199},
  :heap-dump-on-out-of-memory-error
  {:type "boolean",
   :label "Heap Dump on OutOfMemoryError?",
   :required true,
   :default_value true},
  :g1-gc-opts
  {:type "list",
   :label "G1 Options",
   :value_type "string",
   :default_value
   ["-XX:+UseG1GC"
    "-XX:G1RSetUpdatingPauseTimePercent=5"
    "-XX:MaxGCPauseMillis=500"],
   :depends :garbage-collector,
   :conditional [{:eq "G1"}]}},
 :groupings
 [{:name "General",
   :list
   ["max-heap-size"
    "malloc-arena-max"
    "heap-dump-on-out-of-memory-error"
    "cassandra-heapdump-dir"
    "prefer-ipv4-stack"]}
  {:name "GC Tuning Options",
   :list
   ["garbage-collector"
    "g1-gc-opts"
    "cms-gc-opts"
    "gc-logging"
    "gc-logging-opts"]}
  {:name "JMX",
   :list
   ["jmx-port"
    "local-jmx"
    "jmx-remote-opts"
    "jmx-remote-ssl"
    "jmx-remote-ssl-opts"]}
  {:name "Advanced", :list ["additional-jvm-opts"]}]}
