{:display-name "Install Options"
 :package-path ""
 :tarball-path ""
 :workload-file-group "lifecycle manager"
 :ui-visibility :editable
 :renderer {:renderer-type :yaml} ;; arbitrary - we won't actually use the yaml
 :properties
 {:install-type
  {:type "string"
   :label "Installation Type"
   :required true
   :default_value "package"
   :options [{:label "package" :value "package"}
             {:label "tarball" :value "tarball"}]}
  :install-directory
  {:type "string"
   :label "Installation Directory"
   :depends :install-type
   :validators [{:name :absolute-path :params {:allow-nil true}}]
   :conditional [{:eq "tarball"}]}
  :tarball-hash
  {:type "string"
   :label "Tarball SHA-256 Hash"
   :required false
   :depends :install-type
   :conditional [{:eq "tarball"}]}}
 :groupings
 [{:name ""
   :list ["install-type"
          "install-directory"
          "tarball-hash"]}]
 }
