{:display-name "dse-in-sh"
 :package-path "/etc/dse/dse.in.sh"
 :tarball-path "bin/dse.in.sh"
 :workload-file-group "cassandra"
 :ui-visibility :hidden
 :renderer
 {:renderer-type :template
  :template "dse-in-sh-dse-5.1.0.template"}
 :properties
 {:cassandra-log-dir
  {:type "string"
   :required true
   :label "CASSANDRA_LOG_DIR"
   :is_directory true
   :default_value "/var/log/cassandra"
   :tarball_default "var/log/cassandra"
   :description "Directory where cassandra log files will be written"}}
 :groupings
 [{:name "General",
   :list
   ["cassandra-log-dir"]}]}
