{:display-name "dse.default",
 :package-path "/etc/default/dse",
 :tarball-path "resources/dse/conf/dse.default"
 :workload-file-group "cassandra",
 :ui-visibility :editable,
 :renderer
 {:renderer-type :template,
  :template "dse-default-dse-6.7.0.template"},
 :properties
 {:output-file
  {:type "string",
   :label "Cassandra Log File",
   :is_file true,
   :default_value "/var/log/cassandra/output.log"
   :tarball_default "var/log/cassandra/output.log"},
  :wait-for-start
  {:type "int",
   :label "Wait for start",
   :constant "WAIT_FOR_START",
   :unit "seconds",
   :description
   "Increase/decrease if you want longer/shorter waits checking if the service is up. Unit is seconds. Example value: 3"},
  :wait-for-start-sleep
  {:type "int",
   :label "Wait for start sleep",
   :constant "WAIT_FOR_START_SLEEP",
   :unit "seconds",
   :description
   "Decrease/increase if you want finer/coarser grained waits while checking if the service is up. Unit is seconds. Example value: 5"}},
 :groupings
 [{:name "General",
   :list
   ["output-file"
    "wait-for-start"
    "wait-for-start-sleep"]}]}
