(
 ;; Begin DSE 6.0.x transforms.
 "6.0.0" "dse-default-dse-6.0.0.edn"
 "6.0.5" (transforms
          (update-template "dse-default-dse-6.0.5.template")
          (add-field :wait-for-stop
                     {:type "int"
                      :label "Wait for stop"
                      :constant "WAIT_FOR_STOP"
                      :description
                      "Increase/decrease if you want longer/shorter waits checking if the service stopped. Unit is seconds. Example value: 60"
                      :unit "seconds"}
                     :group "General")
          (add-field :wait-for-stop-sleep
                     {:type "float"
                      :label "Wait for stop sleep"
                      :constant "WAIT_FOR_STOP_SLEEP"
                      :description
                      "Decrease/increase if you want finer/coarser grained waits while checking if the service stopped. Unit is seconds. Example value: 0.5"
                      :unit "seconds"}
                     :group "General"))
 ;; End DSE 6.0.x transforms.


 ;; Begin DSE 6.7.x transforms.
 "6.7.0" "dse-default-dse-6.7.0.edn"
 "6.7.1" (transforms
          (update-template "dse-default-dse-6.7.1.template")
          (add-field :wait-for-stop
                     {:type "int",
                      :label "Wait for stop",
                      :constant "WAIT_FOR_STOP",
                      :unit "seconds",
                      :description
                      "Increase/decrease if you want longer/shorter waits checking if the service stopped. Unit is seconds. Example value: 60"}
                      :group "General")
          (add-field :wait-for-stop-sleep
                     {:type "float",
                      :label "Wait for stop sleep",
                      :constant "WAIT_FOR_STOP_SLEEP",
                      :unit "seconds",
                      :description
                      "Decrease/increase if you want finer/coarser grained waits while checking if the service stopped. Unit is seconds. Example value: 0.5"}
                     :group "General"))
 ;; End DSE 6.7.x transforms.


 ;; Begin DSE 6.8.x transforms.
 "6.8.0" "dse-default-dse-6.8.0.edn"
 ;; End DSE 6.8.x transforms.
 )
