{:display-name "logback-spark-executor.xml"
 :package-path "/etc/dse/spark/logback-spark-executor.xml"
 :workload-file-group "spark"
 :ui-visibility :editable
 :valid-dse-versions [:all]
 :renderer
 {:renderer-type :template
  :template "logback-spark-executor-xml-dse-4.7.0.template"}
 :workload :spark
 :properties
 {:root-level
  {:type "string" :required true :default_value "INFO"}
  :logger-jetty-level
  {:type "string" :required true :default_value "ERROR"}}
 :groupings
 [{:name "General",
   :list
   ["root-level"
    "logger-jetty-level"]}]}
