{:display-name "hive-site.xml"
 :package-path "/etc/dse/spark/hive-site.xml"
 :workload-file-group "hadoop"
 :valid-dse-versions [:lte "4.7.9"]
 :ui-visibility :editable
 :renderer
 {:renderer-type :template
  :template "hive-site-xml-dse-4.7.0.template"}
 :workload :spark
 :properties
 {
  :hive-exec-mode-local-auto
  {:type "boolean" :required true :default_value false}
  :hive-metastore-warehouse-dir
  {:type "string" :required true :default_value "cfs:///user/hive/warehouse" :render-without-quotes true}
  :hive-metastore-rawstore-impl
  {:type "string" :required true :default_value "com.datastax.bdp.hadoop.hive.metastore.CassandraHiveMetaStore"
   :render-without-quotes true}
  :cassandra-auto-create-hive-schema
  {:type "boolean" :required true :default_value true}}
 :groupings
 [{:name "General",
   :list
   ["hive-exec-mode-local-auto"
    "hive-metastore-warehouse-dir"
    "hive-metastore-rawstore-impl"
    "cassandra-auto-create-hive-schema"]}]}
